{% macro renderLinkToViabilityDoc(va) %}
  <li>
    <section class="attachment embedded" id="{{ va.id }}">
      <div class="attachment-thumb">
          <a aria-hidden="true" class="thumbnail" href="{{ va.url }}"><img alt="" src="/static/images/viability-pdf.png"></a>
      </div>
      <div class="attachment-details">
        <h2 class="title govuk-heading-m"><a href="{{ va.url }}">VA {{ va.id }} - {{ va.date }}</a></h2>

        <p class="govuk-body-s document-metadata">
            <span class="type"><abbr title="Portable Document Format">PDF</abbr></span>, <span class="file-size">185KB</span>, <span class="page-length">6 pages</span>
        </p>
        <div class="content-metadata">
          <dl class="definition-inline definition-inline-close">
            <dt>Planning application ref</dt>
            <dd><a href="{{ va.planning_application.url }}">{{ va.planning_application.reference }}</a></dd>
            <dt>Report date</dt>
            <dd><time datetime="{{ va.date }}" pubdate>{{ va.date }}</time></dd>
            <dt>Site</dt>
            <dd class="address"><p translate="no">{{ va.planning_application.address }}</p></dd>
            
          </dl>
          <dl class="definition-inline definition-inline-close">
            <dt>Gross development value</dt>
            <dd>
                {%- if va.gross_development_value or va.gross_development_value == 0 -%}
                    {{ va.gross_development_value|monetary }}
                {%- else -%}
                    <span class="missing-data">-- unavailable --</span>
                {%- endif -%}
            </dd>
            <dt>Benchmark land value</dt>
            <dd>
                {%- if va.benchmark_land_value or va.benchmark_land_value == 0 -%}
                    {{ va.benchmark_land_value|monetary }}
                {%- else -%}
                    <span class="missing-data">-- unavailable --</span>
                {%- endif -%}
            </dd>
            <dt>Total contribution</dt>
            <dd>
                {%- if va.total_contribution or va.total_contribution == 0 -%}
                    {{ va.total_contribution|monetary }}
                {%- else -%}
                    <span class="missing-data">-- unavailable --</span>
                {%- endif -%}
            </dd>
          </dl>
        </div>
      </div>
    </section>
  </li>
{% endmacro %}