[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2018.8.13"
chardet = "==3.0.4"
click = "==6.7"
idna = "==2.7"
itsdangerous = "==0.24"
python-dotenv = "==0.9.1"
requests = ">=2.20.0"
urllib3 = ">=1.24.2"
Flask = "==1.0.2"
Flask-WTF = "==0.14.2"
Jinja2 = ">2.10"
MarkupSafe = "==1.0"
Werkzeug = "==0.15.3"
WTForms = "==2.2.1"
flask-migrate = "*"
"psycopg2" = "*"
gunicorn = "*"
goodtables = "*"
pytest = "*"
datapackage = "*"
boto3 = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.6"
