{% extends "default.html" %}
{% from "jinja-components/select/macro.html" import govukSelect %}
{% from "jinja-components/textarea/macro.html" import govukTextarea %}
{% from "jinja-components/input/macro.html" import govukInput %}

{% block beforeContent %}
 {{ super() }}
 <a href="{{ url_for('frontend.pla_ref', local_authority=local_authority, section106_agreement=section106_agreement) }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      What are the developer contributions?
    </h1>

    <form action="{{ url_for('frontend.developer_contributions', local_authority=local_authority, section106_agreement=section106_agreement)}}" class="form developer-contributions-form" method="POST">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
          <h1 class="govuk-fieldset__heading">
            Contribution 1
          </h1>
        </legend>

        {{ govukSelect(
            id="contribution-type-selector--1",
            items=parameters.types,
            label="Type",
            classes="govuk-input--width-20",
            name="contribution-type-selector--1") }}

        {{ govukSelect(
            id="contribution-category-selector--1",
            items=parameters.categories,
            label="Category",
            classes="govuk-input--width-20",
            name="contribution-category-selector--1") }}

        {{ govukTextarea(
            id="obligation-textarea--1",
            label="Obligation",
            name="obligation-textarea--1") }}

        {{ govukInput(
            id="contribution-amount-input--1",
            name="contribution-amount-input--1",
            label="Amount",
            classes="govuk-input--width-10",
            hint="The monetary cost or value equivalent of the agreed contribution",
            hintid="contribution-amount-hint") }}

      </fieldset>

      <div class="additional-item-container">
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        <button class="govuk-button govuk-button-add">Add another contribution</button>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
      </div>

      <div class="govuk-form-group">
        <button type="submit" class="govuk-button">Continue</button>
      </div>

    </form>

  </div>
</div>
{% endblock %}

{% block bodyEnd %}
<script>
  const fieldset = document.querySelector('.govuk-fieldset');
  const form = document.querySelector('.developer-contributions-form');
  const additionBtnContainer = document.querySelector('.additional-item-container');
  const additionBtn = document.querySelector('.govuk-button-add');
  const separator = document.querySelector('.govuk-section-break');
  let fieldsetCount = 2;

  function updateAttributes(fieldset, selector) {
    // find label and change
    fieldset.querySelector(`[for^=${selector}]`).setAttribute('for', `${selector}--${fieldsetCount}`);
    // find field and change
    const field = fieldset.querySelector(`[id^=${selector}]`);
    field.setAttribute('id', `${selector}--${fieldsetCount}`);
    field.setAttribute('name', `${selector}--${fieldsetCount}`);
  }

  function updateFieldsetCount(fieldset) {
    fieldset.querySelector('.govuk-fieldset__heading').textContent = `Contribution ${fieldsetCount}`;
    updateAttributes(fieldset, 'contribution-type-selector');
    updateAttributes(fieldset, 'contribution-category-selector');
    updateAttributes(fieldset, 'obligation-textarea');
    updateAttributes(fieldset, 'contribution-amount-input');
    return fieldset;
  }

  function handleAdditionBtnClick(e) {
    e.preventDefault();
    let newFieldset = fieldset.cloneNode(true);
    const newSeparator = separator.cloneNode(true);
    newFieldset = updateFieldsetCount(newFieldset);
    const insertedSeparator = form.insertBefore(newSeparator, additionBtnContainer);
    const insertedEl = form.insertBefore(newFieldset, additionBtnContainer);
    fieldsetCount += 1;
  }

  additionBtn.addEventListener('click', handleAdditionBtnClick);
</script>
{% endblock %}