{% extends "default.html" %}
{% from "jinja-components/select/macro.html" import govukSelect %}
{% from "jinja-components/textarea/macro.html" import govukTextarea %}
{% from "jinja-components/input/macro.html" import govukInput %}

{% block beforeContent %}
 {{ super() }}
 <a href="{{ url_for('frontend.pla_ref') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ url_for('frontend.developer_contributions' )}}" class="form" method="POST">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            What are the developer contributions?
          </h1>
        </legend>

        {{ govukSelect(
            id="contribution-type-selector",
            items=parameters.types,
            label="Type",
            classes="govuk-input--width-20",
            name="contribution-type-selector") }}

        {{ govukSelect(
            id="contribution-category-selector",
            items=parameters.categories,
            label="Category",
            classes="govuk-input--width-20",
            name="contribution-category-selector") }}

        {{ govukTextarea(
            id="obligation-textarea",
            label="Obligation",
            name="obligation-textarea") }}

        {{ govukInput(
            id="contribution-amount-input",
            name="contribution-amount-input",
            label="Amount",
            classes="govuk-input--width-10",
            hint="The monetary cost or value equivalent of the agreed contribution",
            hintid="contribution-amount-hint") }}

      </fieldset>

      <div class="govuk-form-group">
        <button type="submit" class="govuk-button">Continue</button>
      </div>

    </form>

  </div>
</div>
{% endblock %}