{% extends "default.html" %}

{% block header %}
  {{ govukHeader(serviceName="Development contribution prototypes") }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Prototypes</h1>
      <p class="govuk-body-l">Links to all the prototypes associated with Section 106 and Viability assessments.</p>

      <h2 class="govuk-heading-m">Creating data</h2>
      <ul class="govuk-list govuk-list--bullet">
        <li><a href="{{ url_for('frontend.start') }}">Create Section 106 summary</a></li>
        <li><a href="{{ url_for('viability.start') }}">Create Viability assessment summary</a> (INCOMPLETE)</li>
      </ul>
    </div>

  </div>
{% endblock %}