{% extends "default.html" %}

{% from "jinja-components/viability/macro.html" import renderLinkToViabilityDoc %}

{% block header %}
  {{ govukHeader(serviceName="Viability Assessments") }}
{% endblock %}

{% block beforeContent %}
 {{ super() }}
 <a href="{{ url_for('viability.local_authority') }}" class="govuk-back-link">Back to list of local authorities</a>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Viability Assessments</span>
      <h1 class="govuk-heading-xl">{{ localauthority.name }}</h1>

      <p class="govuk-body-l">
        A list of published Viability assessment reports.
      </p>
    </div>
  </div>
  
  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m govuk-!-font-size-27 govuk-!-font-weight-bold govuk-!-margin-top-6">Documents</h2>
      <ul class="govuk-list">

      {% if localauthority.planning_applications %}
          {% for pa in localauthority.planning_applications %}
              {% if pa.viability_assessments %}
                  {% for va in pa.viability_assessments %}
                    {{ renderLinkToViabilityDoc(va) }}
                  {% endfor %}
              {% endif %}
          {% endfor %}
      {% else %}
          {%- set va1 = {
                  'date' : '20-09-2017',
                  'id' : 'XYZ',
                  'planning_application': 'SOME/REF/123',
                  'img_src': 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/736136/thumbnail_DSU-Aug-18.pdf.png'
               }
           -%}

          {%- set va2 = {
                  'date' : '03-07-2015',
                  'id' : 'ABC',
                  'planning_application': '1538/REF/623',
                  'img_src': 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/736136/thumbnail_DSU-Aug-18.pdf.png'
          }-%}

          {{ renderLinkToViabilityDoc(va1) }}
          {{ renderLinkToViabilityDoc(va2) }}
      {% endif %}

      </ul>
    </div>
  </div>
{% endblock %}