{% extends "default.html" %}
{% from "jinja-components/input/macro.html" import govukInput %}

{% block beforeContent %}
 {{ super() }}
 <a href="{{ url_for('frontend.s106_ref') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ url_for('frontend.pla_ref' )}}" class="form" method="POST">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            What planning application does this refer to?
          </h1>
        </legend>
      </fieldset>

      {{ govukInput(
          id="planning-application-reference",
          name="planning-application-reference",
          label="Planning application reference",
          classes="govuk-input--width-10",
          hint="Add the planning application reference that is associated with the Section 106 agreement",
          hintid="planning-application-reference-hint") }}

      {{ govukInput(
          id="planning-application-url",
          name="planning-application-url",
          label="Planning application url",
          hint="Add the URL for where the planning application can be viewed online",
          hintid="planning-application-url-hint") }}

      <div class="govuk-form-group">
        <button type="submit" class="govuk-button">Continue</button>
      </div>

    </form>

  </div>
</div>
{% endblock %}