{% extends "default.html" %}
{% from "jinja-components/input/macro.html" import govukInput %}
{% from "jinja-components/date-input/macro.html" import govukDateInput %}

{% block beforeContent %}
 {{ super() }}
 <a href="{{ url_for('frontend.local_authority') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="{{ url_for('frontend.s106_ref' )}}" class="form" method="POST">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            What Section 106 Agreement does this refer to?
          </h1>
        </legend>

      {{ govukInput(
          id="agreement-reference",
          name="agreement-reference",
          label="Section 106 agreement reference",
          classes="govuk-input--width-10",
          hint="This should be....",
          hintid="agreement-reference-hint") }}

      </fieldset>

      {{ govukDateInput(
        id="section106-signed",
        label="When was the agreement signed?",
        hint="For example, 31 3 2012",
        isPageHeading=False) }}

      <div class="govuk-form-group">
        <button type="submit" class="govuk-button">Continue</button>
      </div>

    </form>

  </div>
</div>
{% endblock %}