{% extends "default.html" %}
{% from "jinja-components/check-answer-row/macro.html" import checkAnswerRow %}

{% block beforeContent %}
 {{ super() }}
 <a href="{{ url_for('frontend.developer_contributions', local_authority=application.local_authority.id, planning_reference=application.reference) }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Check the details you provided</h1>

    <p class="govuk-body">Check the information below carefully.</p>

    <p class="govuk-body">This will form a summary of the Section 106 agreement. It will also be stored as a public record that will be available online.</p>

    <h3 class="govuk-heading-m">Section 106 agreement details</h3>
    <table class="govuk-table check-your-answers">
      <tbody>
        {{ checkAnswerRow(
            key="Local Authority",
            value=application.local_authority.name,
            url="#") }}

        {{ checkAnswerRow(
            key="Agreement url",
            value=application.section106_url,
            url="#",
            isURL=True) }}

        {{ checkAnswerRow(
            key="Date signed",
            value=application.section106_signed_date,
            url="#") }}

        {{ checkAnswerRow(
            key="Planning application ref",
            value=application.reference,
            url="#") }}

        {{ checkAnswerRow(
            key="Planning application URL",
            value=application.url,
            url="#",
            isURL=True) }}

      </tbody>
    </table>

    {% macro contributionSummary(key, value) %}
    <div class="govuk-grid-row contribution-summary-row">
      <div class="govuk-grid-column-one-half govuk-!-font-weight-bold">{{ key }}</div>
      <div class="govuk-grid-column-one-half">{{ value }}</div>
    </div>
    {% endmacro %}

    <h3 class="govuk-heading-m">Contributions</h3>
    {% for contribution in application.section106_contributions %}
    <div class="contribution-summary">
      <h4 class="govuk-heading-s contribution-entry-heading">Contribution {{ loop.index }}<a class="contribution-summary-change" href="{{ url }}">Change <span class="govuk-visually-hidden">{{ key }}</span></a></h4>
      {{ contributionSummary(
          key="Type",
          value=contribution.contribution_type) }}
      {{ contributionSummary(
          key="Category",
          value=contribution.category) }}
      {{ contributionSummary(
          key="Obligation",
          value=contribution.obligation) }}
      {{ contributionSummary(
          key="Value",
          value=contribution.value) }}
    </div>
    {% endfor %}

    <div class="govuk-form-group">
      <a href="{{ url_for('frontend.complete' )}}" class="govuk-button">Continue</a>
    </div>
  </div>
</div>
{% endblock %}