{% extends "viability-base.html" %}

{% from "jinja-components/input/macro.html" import govukInput %}

{% block beforeContent %}
 {{ super() }}
 <a href="{{ url_for('viability.start') }}" class="govuk-back-link">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <form action="}" class="form" method="POST">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
          <h1 class="govuk-fieldset__heading">
            Question 1
          </h1>
        </legend>

        {{ govukInput(
            id="question-1-input",
            label="Question 1",
            name="question-1-input") }}

      </fieldset>

      <div class="govuk-form-group">
        <a href="#" class="govuk-button">Continue</a>
      </div>

    </form>

  </div>
</div>
{% endblock %}