{% extends "default.html" %}

{% from "project-components/status-panel.html" import statusPanel %}
{% from "jinja-components/data-element/macro.html" import govukDataItem %}

{% block content %}
    
  {% if report.valid %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    {%- call statusPanel("govuk-panel--confirmation", "complete") %}
    &check;
    {% endcall -%}
    </div>

    <div class="govuk-grid-column-two-thirds">
      <h3 class="govuk-heading-m">What happens next</h3>
      <p class="govuk-body">
        The csv file was validated with no errors. You are now able to publish the data in this format.
      </p>
      <p class="govuk-body">
        You can <a href="{{ url_for('validators.validate_start')}}" class="govuk-link">validate</a> any other developer contribution csv files and check they are ready to publish. 
      </p>
    </div>
  </div>

  {% else %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
      {%- call statusPanel("govuk-panel--error", "errors") %}
      {% endcall -%}
      </div>

      <div class="govuk-grid-column-two-thirds">
        {{ govukDataItem(report["error-count"], "Errors found") }}
  
        <h2 class="govuk-heading-l">Validation errors</h2>

        {% from "project-components/validation-error-output.html" import renderValidationError %}

        {% if report.tables %}

          {# get column headings and first row number #}
          {% set column_headers = report.tables[0].headers %}
          {% set row = namespace(number=report.tables[0].errors[0]["row-number"]) %}
          <p class="govuk-body">There are the following errors with <span class="validation-error-row govuk-tag govuk-tag__error">Row {{ row.number }}</span>:</p>

          {% for error in report.tables[0].errors %}

            {% if error["row-number"] != row.number %}
              {% set row.number = error["row-number"] %}
              <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
              <p class="govuk-body">There are the following errors with <span class="validation-error-row govuk-tag govuk-tag__error">Row {{ row.number }}</span>:</p>
            {% endif %}
            {{ renderValidationError(error, column_headers) }}

          {% endfor %}

        {% endif %}

      </div>
    </div>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
      </div>

      <div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-l">What happens next</h3>
        <p class="govuk-body">
          You should fix the errors with the csv data file before it is published.
        </p>
        <p class="govuk-body">You can refer to the <a href="https://digital-land.github.io/guidance/developer-contributions/" class="govuk-link">developer contribution data format and publishing guidance</a> for an explanation of the expected data and format.</p>
        <p class="govuk-body">
          Once fixed use the <a href="{{ url_for('validators.validate_start')}}" class="govuk-link">validator</a> to check for any other developer potential issues. 
        </p>
      </div>
    </div>
  {% endif %}
    
{% endblock %}