{% extends "default.html" %}

{% from "jinja-components/viability/macro.html" import renderLinkToViabilityDoc %}
{% from "jinja-components/data-element/macro.html" import govukDataItem %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="/static/stylesheets/govuk/accessible-autocomplete.min.css" />
{% endblock %}

{% block header %}
  {{ govukHeader(serviceName="Viability Assessments") }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row top-content-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Viability Assessments</h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      {{ govukDataItem(no_of_viability_assessments, "Public Viability Assessments") }}
    </div>
    <div class="govuk-grid-column-one-third">
      {{ govukDataItem(local_authorities|count, "Local Authorities") }}
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="download-panel">
        <h2 class="govuk-heading-s">Download the data</h2>
        <p class="govuk-body-m">You can download the latest data as:</p>
        <ul class="govuk-list">
          <li><a href="{{ url_for('viability.index_csv') }}">CSV</a></li>
          <li><a href="{{ url_for('viability.index_json') }}">JSON</a></li>
        </ul>
      </div>
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">All published viability assessments</p>

      {% for la in local_authorities     %}
      {% if la.has_viability_assessments() %}
      <h2 class="govuk-heading-l">{{ la.name }}</h2>
      {% endif %}
      <ul class="govuk-list">   
        {% for pa in la.planning_applications %}
             {% for va in pa.viability_assessments %}
                {{ renderLinkToViabilityDoc(va) }}
             {% endfor %}
        {% endfor %}
      </ul>
      {% endfor %}
    </div>
  </div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

{% endblock %}
