{% extends "default.html" %}

{% block header %}
  {{ govukHeader(serviceName="Viability Assessments") }}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Viability Assessments</span>
      <h1 class="govuk-heading-xl">Local Authorities</h1>

      <ul class="govuk-list">
        {% for la in localauthorities %}
        <li><h3 class="govuk-heading-m">{{ la.name }}</h3></li>
        {% endfor %}
      </ul>
    </div>
  </div>
{% endblock %}