{# Determine type of element to use, if not explicitly set -#}

{% if element %}
  {% set element = element | lower %}
{% else %}
  {% if href %}
    {% set element = 'a' %}
  {% else %}
    {% set element = 'button' %}
  {% endif %}
{% endif %}

{#- Define common attributes that we can use across all element types #}

{%- set commonAttributes %} class="govuk-button{% if classes %} {{ classes }}{% endif %}{% if disabled %} govuk-button--disabled{% endif %}"{% for attribute, value in attributes %} {{attribute}}="{{value}}"{% endfor %}{% endset %}

{#- Define common attributes we can use for both button and input types #}

{%- set buttonAttributes %}{% if name %} name="{{ name }}"{% endif %} type="{{ type if type else 'submit' }}"{% if disabled %} disabled="disabled" aria-disabled="true"{% endif %}{% endset %}

{#- Actually create a button... or a link! #}

{%- if element == 'a' %}
<a href="{{ href if href else '#' }}" role="button" {{- commonAttributes | safe }}>
  {{ html | safe if html else text }}
</a>

{%- elif element == 'button' %}
<button {%- if value %} value="{{ value }}"{% endif %} {{- buttonAttributes | safe }} {{- commonAttributes | safe }}>
  {{ html | safe if html else text }}
</button>

{%- elif element == 'input' %}
<input value="{{ text }}" {{- buttonAttributes | safe }} {{- commonAttributes | safe }}>
{%- endif %}
