// An inline definition list 
// 
// For example:
// - name:value pairs
//
// ===================

// dl.
.definition-inline {
  @include govuk-clearfix;

  dt {
    margin-right: 5px;
    float: left;
    clear: left;
    font-weight: bold;

    &:after {
      content: ":";
    }
  }

  dd {
    float: left;
    @include govuk-responsive-margin(3, "left");
  }
}

.definition-list-spread {
  dt {
    @include govuk-responsive-margin(6, "right");
  }
}

.definition-inline-close {
  dd {
    @include govuk-responsive-margin(1, "left");
  }
}

.definition-with-final-total {
  dd:last-of-type,
  dt:last-of-type {
    margin-top: $govuk-gutter-half;
  }
}
