//
// Styles for data typography element
//
//
.data-item {
  display: block;
  font-family: "nta", Arial, sans-serif;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.data-item a {
  color: govuk-colour("black");
}
