/*
* Collection of styles used on guidance pages
*
*/
.guidance-content {
  @include govuk-responsive-margin(9, "top");
  .govuk-heading-l {
    @include govuk-responsive-margin(3, "top");
  }
  .govuk-heading-m {
    @include govuk-responsive-margin(2, "top");
  }
}

.contents-list {
  @include govuk-responsive-margin(8, "bottom");
  a {
    text-decoration: none;
  }
}

.list-item--dashed {
  margin-left: 25px;
  padding-right: 25px;
  &:before {
    content: "— ";
    margin-left: -25px;
    padding-right: 5px;
  }
}

.contents-link {
  @include govuk-responsive-margin(9, "top");
  @include govuk-responsive-margin(6, "bottom");
}

.back-to-top__icon {
  float: left;
  margin-right: .3em;
  width: .8em;
  height: .968em;
}

.sticky-element--enabled {
  background-color: #dee0e2;
  bottom: -1px;
  left: 0;
  margin: 0;
  padding: 0;
  padding-left: 0;
  position: fixed;
  width: 100%;
  z-index: 1;

  .contents-link {
    @include govuk-responsive-margin(0);
    @include govuk-responsive-padding(3, 'top');
    @include govuk-responsive-padding(3, 'bottom');
  }
}
