$govuk-border-width: 4px;

.govuk-panel {
  @include govuk-font($size: 19);

  box-sizing: border-box;

  margin-bottom: $govuk-gutter-half;
  padding: 50px - $govuk-border-width;

  border: $govuk-border-width solid transparent;

  text-align: center;

  @include govuk-media-query($from: tablet) {
    padding: 45px - $govuk-border-width;
  }
}

.govuk-panel--confirmation {
  color: $govuk-body-background-colour;
  background: govuk-color("turquoise");
}

.govuk-panel__title {
  margin-top: 0;
  margin-bottom: 45px;

  @include govuk-font($size: 48);
}

.govuk-panel__body {
  @include govuk-font($size: 36);

  p:last-child {
    margin-bottom: 0;
  }
}

// sass-lint:disable-block no-qualifying-elements
.govuk-panel__link,
a.govuk-panel__link {
  @include govuk-font($size: 24);

  &:link,
  &:visited {
    color: $govuk-body-background-colour;
  }
}

.govuk-panel--error {
  color: $govuk-body-background-colour;
  background: $govuk-error-colour;
}
