.missing-data {
  color: govuk-colour(grey-2);
}

.autocomplete__menu {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}
