<div class="govuk-form-group">
  <label class="govuk-label" for="{{ id }}">
    {{ label }}
    {% if kwargs['hint'] %}
    <span {% if kwargs['hintid'] %}id="{{ kwargs['hintid'] }}"{% endif %} class="govuk-hint">
      {{ kwargs['hint'] }}
    </span>
    {% endif %}
  </label>
  <input class="govuk-input {% if kwargs['classes'] %}govuk-input--width-10{% endif %}"
  id="{{ id }}" name="{{ name }}" type="text" 
  {%- if kwargs['hintid'] %} aria-describedby="{{ kwargs['hintid'] }}"{% endif %} >
</div>