.govuk-typography {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.top-content-row {
  @include govuk-responsive-margin(9, 'top');
}

.data-item {
  display: block;
  line-height: 1;
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.data-item a {
  color: govuk-colour(black);
}

.missing-data {
  color: govuk-colour(grey-2);
}

.download-panel {
  background: govuk-colour(grey-3);
  @include govuk-responsive-padding(3);

  ul:last-child {
    margin-bottom: 0;
    li:last-child {
      margin-bottom: 0;
    }
  }
}

.field-requirement-list li .govuk-body {
  margin-bottom: 0;
}

// required for the Autocomplete if using
// Govuk design system
// --------------------------------------
.autocomplete__menu {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 400;
}

.contents-list {
  @include govuk-responsive-margin(8, "bottom");
  a {
    text-decoration: none;
  }
}

.list-item--dashed {
  margin-left: 25px;
  padding-right: 25px;
  &:before {
    content: "— ";
    margin-left: -25px;
    padding-right: 5px;
  }
}

.related-content-section {
  border-top: 2px solid govuk-colour(blue);
  @include govuk-responsive-padding(3, "top");
}

.guidance-content {
  @include govuk-responsive-margin(9, "top");
  .govuk-heading-l {
    @include govuk-responsive-margin(3, "top");
  }
  .govuk-heading-m {
    @include govuk-responsive-margin(2, "top");
  }
}

$button-text-colour: #fff;
$button-colour:  govuk-colour(blue);
$button-hover-colour: darken($button-colour, 5%);
$button-shadow-colour: darken($button-colour, 15%);
$button-shadow-size: $govuk-border-width-form-element;
.button-filter-table {
  color: $button-text-colour;
  background-color: $button-colour;
  box-shadow: 0 $button-shadow-size 0 $button-shadow-colour;

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $button-text-colour;
    text-decoration: none;
  }
  &:hover,
  &:focus {
    background-color: $button-hover-colour;
  }
}

.js-enabled {
  .button-autocomplete-action {
    display: none;
  }
  .autocomplete-used {
    .button-autocomplete-action {
      display: inline-block;
    }
  }
}