.top-content-row {
  @include govuk-responsive-margin(9, "top");
}

.missing-data {
  color: govuk-colour(grey-2);
}

.download-panel {
  background: govuk-colour(grey-3);
  @include govuk-responsive-padding(3);

  ul:last-child {
    margin-bottom: 0;

    li:last-child {
      margin-bottom: 0;
    }
  }
}

.field-requirement-list li .govuk-body {
  margin-bottom: 0;
}

.related-content-section {
  border-top: 2px solid govuk-colour("blue");
  @include govuk-responsive-padding(3, "top");
}

// blue buttons used on filters
.button-filter-table {
  @include govuk-style-button($button-colour:  govuk-colour("blue"));
}

.js-enabled {
  .button-autocomplete-action {
    display: none;
  }

  .autocomplete-used {
    .button-autocomplete-action {
      display: inline-block;
    }
  }
}

// ===========================
// Hacks & Fixes
// ===========================

// Make sure using right font
.govuk-typography {
  font-family: "nta", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// required for the Autocomplete if using
// Govuk design system
// --------------------------------------
.autocomplete__menu {
  font-family: "nta", Arial, sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
