@import "all";

.check-your-answers{
  .change-answer {
    text-align: right;
    padding-right: 0;
  }
}

.additional-item-container {
  display: none;
  .js-enabled & {
    display: block;
  }
}

.govuk-button-add {
  @include govuk-style-button($button-text-colour: $govuk-text-colour, $button-colour:  govuk-colour("grey-3"));
}

table td {
  border-bottom: 1px solid #bfc1c3;
  text-align: left;
  padding: 0.63158em 1.05263em 0.47368em 0;
}

.contribution-summary {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  width: 100%;
  @include govuk-responsive-margin(6, "bottom");
}

.contribution-summary-change {
  float: right;
  font-weight: normal;
}

.contribution-summary-row {
  padding-bottom: govuk-em(8, 19);
}

.contribution-entry-heading {
  border-bottom: 1px solid #bfc1c3;
  border-top: 1px solid #bfc1c3;
  padding: 8px 0 5px;
  @include govuk-responsive-margin(2, "bottom");
  @include govuk-media-query($from: tablet) {
    @include govuk-responsive-margin(3, "bottom");
  }
}

.display-url {
    word-break: break-all;
}

.report-data-row {
  margin-bottom: $govuk-gutter*2;
}

// to make the table easier to read when
// in a body of text
.table-wrapper {
  margin: 30px 0 60px;
}

th[aria-sort] {
  border-top: 1px dashed $govuk-border-colour;
}

th[role=columnheader]:not(.no-sort) {
  cursor: pointer;
  position: relative;
  
  &:hover {
    text-decoration: underline;
  }

  &:after {
    box-sizing: border-box;
    content: ' ';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    border-width: 0 6px 6px;
    border-style: solid;
    border-color: govuk-colour(blue) transparent;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;

    visibility: hidden;
    opacity: 0;
  }
  &[aria-sort]:after {
    visibility: visible;
    opacity: 0.5;
  }
  &:hover:after {
    visibility: visible;
    opacity: 1;
  }
  &[aria-sort=ascending]:after {
    border-width: 6px 6px 0;
  }
}

th[role=columnheader].govuk-table__header--numeric:not(.no-sort):after {
  right: unset;
  left: 20px;
}