@import "all";

.check-your-answers{
  .change-answer {
    text-align: right;
    padding-right: 0;
  }
}

.additional-item-container {
  display: none;
  .js-enabled & {
    display: block;
  }
}

// Should this be in a mixin?
// Is there a reason why the GOVUK design system 
// no longer has a button mixin?
$button-text-colour: $govuk-text-colour;
$button-colour:  govuk-colour("grey-3");
$button-hover-colour: darken($button-colour, 5%);
$button-shadow-colour: darken($button-colour, 15%);
$button-shadow-size: $govuk-border-width-form-element;
.govuk-button-add {
  color: $button-text-colour;
  background-color: $button-colour;
  box-shadow: 0 $button-shadow-size 0 $button-shadow-colour;

  &:link,
  &:visited,
  &:active,
  &:hover {
    color: $button-text-colour;
    text-decoration: none;
  }
  &:hover,
  &:focus {
    background-color: $button-hover-colour;
  }
}

table td {
  border-bottom: 1px solid #bfc1c3;
  text-align: left;
  padding: 0.63158em 1.05263em 0.47368em 0;
}

.contribution-summary {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  width: 100%;
  @include govuk-responsive-margin(6, "bottom");
}

.contribution-summary-change {
  float: right;
  font-weight: normal;
}

.contribution-summary-row {
  padding-bottom: govuk-em(8, 19);
}

.contribution-entry-heading {
  border-bottom: 1px solid #bfc1c3;
  border-top: 1px solid #bfc1c3;
  padding: 8px 0 5px;
  @include govuk-responsive-margin(2, "bottom");
  @include govuk-media-query($from: tablet) {
    @include govuk-responsive-margin(3, "bottom");
  }
}

.display-url {
    word-break: break-all;
}
